@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
    font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
}

.container {
    width: 93%;
    margin: 0px auto 0px auto;
    text-align: left;
}

button{
    font-size: 12pt;
    font-weight: bold;

    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    text-align: left;
    margin: 24px 6% 5px 6%;
    float: left;
}

h2 {
    text-align: left;
    margin: 0px 0px 0px 0px;
    float: inline-end;
}

#select-main{
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    width: 6.3em;
    margin: 12px 6% 5px 6%;
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* テーブルダグ */
table {
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: 18pt;
}


th, td, tr {
    border: 1px solid #afafaf;
    padding: 5px;
}

td {
    text-align: right;
    vertical-align: top;
    height: 6em;
    padding: 15px;
}

.th-sun {
    background-color: plum;
    text-align: center;
    height: 24px;
}   

.th-week {
    background-color: Gainsboro;
    text-align: center;
    height: 24px;
}

.th-sat {
    background-color: LightBlue;
    text-align: center;
    height: 24px;
}


/* リストタグ */
ul li {
    text-align: center;
    list-style: none;
    float: left;
    margin: 10px 20px;
}

.navi {
    text-align: center;
}

.navi-btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #ff7c5c;/*左線*/
    color: #ff7c5c;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.navi-btn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}    


#navi-left{
    margin: 25px 5px 0px 0px;
}

#navi-center{
    margin: 25px 30px 0px 0px;
}

#navi-right{
    margin: 25px 6% 0px 0px;
}

/* #today{
    font-weight: bold;
    margin: 25px 5px 0px 0px;
} */